{% extends 'main/header.html' %}

{% block content %} <!-- bliver inkluderet i header.html -->
  <br><br><br>
  <ul class="collapsible">
  <!-- vises kun for dem som er logget ind -->
  {% if user.is_authenticated %}
    {% for plate in plates %}
      {% if plate.userid == uid %}
      <!-- laves i collapsible-form, så brugeren kan udvide elementerne -->
        {% if plate.state == 0 %}
        <!-- hvis nummerpladen er bekræfter har den 0-status, hvilket vises med -->
          <li>
            <div class="collapsible-header"><i class="material-icons">done</i><b>Bekræftet</b>: {{plate.plateNumber}}</div>
            <div class="collapsible-body"><span>Tilføjet: {{plate.add_date}}<br>Historik: <a href="/">tryk her</a></span></div>
          </li>
        {% elif plate.state == 1 %}
        <!-- hvis nummerpladen ikke er begrænset skal den vises på en anden måde - derudover skal der være mulighed for
        at slette nummerpladen (kan også gøres ved at skrive til support), hvilket gøres gennem en formular -->
          <li>
            <div class="collapsible-header"><i class="material-icons">loop</i><em>Afventer</em>: {{plate.plateNumber}}</div>
            <div class="collapsible-body"><span><em>Godkendelse afventer</em><br>Tilføjet: {{plate.add_date}}<br><br>
            <form action="{% url 'main:delete_plate' pk=plate.id %}" method="post" style="display: inline;">
              {% csrf_token %}
              <input type="hidden" name="plate_id" value="{{ plate.id }}" />
              <button class="btn waves-effect waves-light" type="submit" name="action">Slet<i class="material-icons right">delete_outline</i>  </button>
            </form>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

    <!-- Kør for alle: mulighed for at tilføje nye nummerplader-->
    <div class="row">
      <div class="col offset-l2 s12">
        <div class="row">
          <form class="col s12" method="POST">
            {% csrf_token %}
            <div class="input-field col s6">
            {{form.as_p}}
            </div>
            <div class="input-field col s2">
             <p class="center-align"><button class="btn waves-effect waves-light" type="submit" name="action">Tilføj<i class="material-icons right">add</i></button></p>
            </div>
          </form>
        </div>
      </div>
    </div>


  {% else %}
    <div class="row">
      <div class="col offset-l3 s12 m6">
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Adgang nægtet!</span>
            <p>Da du ikke er logget ind, har du ikke mulighed for at ændre og tilføje nummerplader.</p>
          </div>
          <div class="card-action">
            <a href="/">Startside</a>
            <a href="/login">Log ind</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
