{% extends 'main/header.html' %}

{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, {});
    });
  </script>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" class="breadcrumb">Startside</a>
        <a href="/#!" class="breadcrumb">Bruger</a>
        <a href="/addplate" class="breadcrumb">Tilføj nummerplade</a>
      </div>
    </div>
  </nav>
  {% if user.is_authenticated %}
    <!-- Kør når der er nummerplader -->
      <!-- Loop igennem nummerplader for brugeren -->
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">done</i><b>Bekræftet</b>: AT76021</div>
            <div class="collapsible-body"><span>Tilføjet: 29. juli 2019<br>Historik: tryk her</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">loop</i><em>Afventer</em>: TX90312</div>
            <div class="collapsible-body"><span><em>Godkendelse afventer</em></span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">report</i><b><em>Afvist</em></b>: DD2e3</div>
            <div class="collapsible-body"><span>Nummerpladen afviger fra standarden, og kunne derfor ikke tilføjes.</span></div>
          </li>
        </ul>
        <br>

    <!-- Kør for alle -->
    <div class="row">
      <div class="col offset-l2 s12">
              <div class="row">
                <form class="col s12">
                  <div class="input-field col s6">
                    <input id="number_plate" type="text" class="validate" required>
                    <label for="number_plate">Nummerplade</label>
                  </div>
                  <div class="input-field col s2">
                   <p class="center-align"><button class="btn waves-effect waves-light" type="submit" name="action">Tilføj<i class="material-icons right">add</i></button></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

  {% else %}
    <div class="row">
      <div class="col offset-l3 s12 m6">
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Adgang nægtet!</span>
            <p>Da du ikke er logget ind, har du ikke mulighed for at ændre og tilføje nummerplader.</p>
          </div>
          <div class="card-action">
            <a href="/">Startside</a>
            <a href="/login">Log ind</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
