{% extends 'main/header.html' %}
{% load app_filters %}{% load humanize %}
{% block content %}
  {% if logs.count > 0 %} <!-- Hvis brugeren har tidligere historik (derved også nummerplade) -->
    {% for year in mY %}
    {% if year == periods %}
      <ul class="collapsible">
      {% for month in periods %}
      {% if month  %}
        <li>
        <div class="collapsible-header">{{month}} - {{year}}</div>
        <div class="collapsible-body">
        <table>
         <thead>
           <tr>
               <th>Dato</th>
               <th>Nummerplade</th>
               <th>Varighed</th>
               <th>Placering</th>
               <th>Timetakst</th>
               <th>At betale</th>
           </tr>
         </thead>
         <tbody>
         {% for log in logs %}
          {% if log.exited.month == month and log.exited.year == year %}
            <tr>
             <td>{{ log.exited }} - {{periods}}</td>
             <td>{{ log.numberplate }}</td>
             <td>{{ log.entered|timesince:log.exited }}</td>
             <td>{% for house in parkplace %}{% if house.id == log.entid %}{{house.name}}</td>
             <td>{{house.hourlyRate}}</td>
             <td>{{ log.get_time_diff|multiply:house.hourlyRate|intcomma }} DKK</td>
             {% endif %}{% endfor %}
            </tr>
          {% endif %}
         {% endfor %}
         </tbody>
        </table>
        </li>
      {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    Du har ingen historik
  {% endif %}
{% endblock %}
