{% extends 'main/header.html' %}
<!-- Siden som man kommer hen på for at nulstille sit password -->
{% block content %}
<div class="content-section">
        <form method="POST">
            {% csrf_token %} <!-- token identificeres, for at godkende formularens integritet -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Nulstil Password</legend>
                {{form.as_p}} <!-- formularen 'printes' i paragraf-form, så det er inddelt i afsnit -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Anmod om link til nulstilling af password</button>
            </div>
        </form>
</div>
{% endblock %}
