{% extends 'main/header.html' %}

{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.autocomplete');
      var instances = M.Autocomplete.init(elems, {data:{
                                                  "Jeg er blevet trukket dobbelt": null,
                                                  "Jeg har glemt min adgangskode/bruger": null,
                                                  "Jeg ønsker ikke længere at have min bruger": null,
                                                  "Hvor opererer I?": null,
                                                  "Virksomheds-henseender": null,
      }});
    });
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {});
    });
  </script>
  <div class="row">
    <div class="col s12">
      <div class="col m10 offset-m1 s12">
          <h2 class="center-align">Kontakt</h2>
            <div class="row">
              <form class="col s12">

  {% if not user.is_authenticated %}
    <div class="row">
        <div class="input-field col m6 s12">
            <input id="first_name" type="text" class="validate" required>
            <label for="first_name">Fornavn</label>
        </div>
        <div class="input-field col m6 s12">
            <input id="last_name" type="text" class="validate" required>
            <label for="last_name">Efternavn</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col m6 s12">
            <i class="mdi-content-mail prefix"></i>
            <input id="email" type="email" class="validate" required>
            <label for="email">Mail-adresse</label>
        </div>

    </div>
    {% endif %}
    <div class="row">
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Vælg én</option>
          <option value="1">Betaling</option>
          <option value="2">Konto</option>
          <option value="3">Andet</option>
        </select>
        <label>Omhandler</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="autocomplete-input" class="autocomplete" required>
            <label for="autocomplete-input">Titel</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <textarea id="message" class="materialize-textarea" required></textarea>
          <label for="message">Besked</label>
        </div>
    </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>Eventuel fil</span>
        <input type="file" multiple>
      </div>
    </div>
    <div class="row">
        <div class="col m12">
         <p class="center-align"><button class="btn waves-effect waves-light" type="submit" name="action">Indsend<i class="material-icons right">send</i></button></p>
        </div>
    </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
