{% extends 'main/header.html' %}
{% load app_filters %}{% load humanize %}
{% block content %}
<br><br> <!-- først repræsenteret det i listeform -->
  {% if logs.count > 0 %} <!-- Hvis brugeren har tidligere historik (derved også nummerplade) -->
    <h2>I alt</h2>
      <table>
        <thead>
          <tr>
              <th>Total varighed</th>
              <th>Totalt beløb</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{hours}} timer</td>
            <td>{{total}} kroner</td>
          </tr>
        </tbody>
      </table>

    <h3>Statistik</h3>
    <h4>Totale beløb og varighed</h4>
    {% if graph1 %} <!-- er grafen defineret, da skal den vises -->
      <div>
      {{ graph1|safe }} <!-- før den kan blive vist skal der indikeres at der
        er tale om sikkert indhold, eller stoler template ikke på det -->
      </div>
    {% endif %}
    <h4>Ændringen i beløb og varighed</h4>
    {% if graph2 %}
      <div>
      {{ graph2|safe }}
      </div>
    {% endif %}
  {% else %}
    Du har endnu ikke brugt din nummerplade i et parkeringshus.
  {% endif %}
  {{dat}}
{% endblock %}
