<html>
    <head>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <h1>Hej {{username}}, velkommen til Parkering.tk!</h1>
        <h3>Du er nu klar til at tilføje din nummerplade på hjemmesiden, og derefter besøge en af vores parkeringshuse.</h3>
        <button href="parkering.tk/addplate"> Klik her for at tilføje din nummerplade </button>
        <a class="waves-effect waves-light btn">button</a>
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="https://img.autoplus.fr/news/2017/11/20/1522328/1350|900|721f1ad4d6eeb70a6ec1e7bd.jpg?r">
              <div class="valign caption left-align">
                <h1 class="light blue-text"><b>Bekymringsfri parkering</b></h1>
                <h5 class="light grey-text text-lighten-3"><b>Med Parkering.tk er det pludselig nemt og hurtigt at parkere.</b></h5>
              </div>
            </li>
          </ul>
        </div>
    </body>
</html>
