<ul id="bruger" class="dropdown-content">
  <li><a href="/logout">Log ud</a></li>
  <li class="divider"></li>
  <li class="tab right"><a href="/settings">Indstillinger</a></li>
  <li class="tab right"><a href="/support">Support</a></li>
  {% if user.is_staff %}
    <li class="divider"></li>
    <li class="tab right"><a href="/admin">Admin</a></li>
  {% endif %}
</ul>

<div class="navbar-fixed">
  <nav class="nav-extended fixed">
     <div class="nav-wrapper">
       <a href="/#" class="brand-logo center">Parkering.tk</a>
       <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         {% if user.is_authenticated %}
           <li><a href="/">Oversigt <i class="material-icons right">home</i></a></li>
           <li><a class="dropdown-trigger" href="#!" data-target="bruger">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
         {% else %}
          <li><a href="/login">Log ind</a></li>
           <li><a href="/registrer">Registrer</a></li>
         {% endif %}
       </ul>
     </div>
     {% if user.is_authenticated %}
       <div class="nav-content">
         <ul class="tabs tabs-transparent">
           <li class="tab right"><a href="/addplate">Tilføj nummerplade</a></li>
           <li class="tab right"><a href="/total">Total & statistik</a></li>
         </ul>
       </div>
     {% endif %}
  </nav>
</div>

 <ul class="sidenav" id="mobile-demo">
   {% if user.is_authenticated %}
     <li><a href="#">{{user.username}}</a></li>
     <li><a href="/logout">Log ud</a></li>
   {% else %}
    <li><a href="/login">Log ind</a></li>
     <li><a href="/registrer">Registrer</a></li>
   {% endif %}
 </ul>
