<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, {"indicators": false});
  });
</script>
</div>
<div class="slider">
  <ul class="slides">
    <li>
      <!--      <img src="https://dokk1.dk/sites/default/files/styles/page_content_image/public/images/parkering_3_closer_1000x468.png?itok=1nE4XPL"> -->
      <img src="https://img.autoplus.fr/news/2017/11/20/1522328/1350|900|721f1ad4d6eeb70a6ec1e7bd.jpg?r"> 
      <div class="valign caption left-align">
        <h2 class="light blue-text"><b>Bekymringsfri parkering</b></h2>
        <h5 class="light grey-text text-lighten-3">Med Parkering.tk er det pludselig nemt og hurtigt at parkere.</h5>
      </div>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col l4 m12 s12">
      <div class="center promo promo-example">
        <i class="material-icons icon-blue scale-transition">flash_on</i>
        <p class="promo-caption">Hurtigt</p>
        <p class="light center">Systemet er strømlinet, og lader dig som fører kører lige igennem parkeringsbommen.</p>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="center promo promo-example">
        <i class="material-icons icon-blue">touch_app</i>
        <p class="promo-caption">Nemt</p>
        <p class="light center">Opret dig her på siden og næste gang du parkerer i et af vores centre, kører du bare lige forbi bommen og lader os klare betalingen, så du bekymringsfrit kan nyde shoppeturen.</p>
      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="center promo promo-example">
        <i class="material-icons icon-blue">security</i>
        <p class="promo-caption">Sikkert</p>
        <p class="light center">Al information bliver krypteret med SHA256 og hashing.</p>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="container">
  <h4 class="center-align">Gennemsigtige priser</h4>
  <div class="row">

    <blockquote>
      Jeg er aldrig blevet overrasket over en parkeringsfaktura,<br> og bøder for overskridelse af parkeringsfrist får man ingen af.
    </blockquote>
  </div>
</div>
